<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>

    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/miPerfil.css">

    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>
<body>

    <%- include('partials/header.ejs'); -%> 

    <main class="main">

        <div class="contenedorPerfil">
            <h4>Mis datos:</h4>
            <div class="misDatos">
                <div class="img">
                    <img src="https://i.imgur.com/lHZzKdP.png" alt="">
                </div>
                <p>Nombre: <span>Momoka</span></p>
                <p>Apellido: <span>Kawaragi</span></p>
                <p>Email: <span>momoka@example.com</span></p>              
            </div>
            <button class="btt" onclick="editarPerfil()">Editar</button>
            
        </div>

        <div class="contenedorPedidos">
            <h4>Mis compras:</h4>
            <details>
                <summary class="pedido">Compra 120321</summary>
                <div class="info">Facturas, precio $6000 </div>
            </details>

        </div>

    </main>

    <%- include('partials/footer.ejs'); -%>
    
</body>
</html>