<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/quienesSomos.css">
    <link rel="stylesheet" href="css/header.css">
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>
<body>

    <%- include('partials/header.ejs'); -%> 

    <main class="main">
       
        <section class="contenedor1">

            <!-- <h2>Quiénes somos</h2> -->

            <div class="quienesSomos">
                <h4>Quiénes Somos</h4>
                <p>En Dulces Sueños, cada bocado es una experiencia única y deliciosa que te transportará a un mundo de dulzura y felicidad. Fundada en 2010 por los hermanos Marta y Juan García, nuestra pastelería nació de una pasión compartida por la repostería y el deseo de compartir nuestra creatividad con el mundo.</p>
            </div>

            <div class="quienesSomos">
                <h4>Nuestra Historia</h4>
                <p>La historia de Dulces Sueños comenzó en el pequeño taller de repostería de nuestra abuela, donde pasamos horas experimentando con recetas tradicionales y creando nuevos sabores. Con el tiempo, lo que comenzó como un hobby se convirtió en una pasión que nos impulsó a abrir nuestra propia pastelería.</p>
            </div>

            <div class="quienesSomos">
                <h4>Nuestra Filosofía</h4>
                <p>En Dulces Sueños, creemos en la importancia de la calidad, la creatividad y la atención al detalle en todo lo que hacemos. Utilizamos solo los mejores ingredientes naturales, cuidadosamente seleccionados para garantizar el sabor y la frescura en cada uno de nuestros productos. Nuestra misión es deleitar a nuestros clientes con creaciones únicas que no solo satisfagan su paladar, sino que también despierten su imaginación.</p>
            </div>

            <div class="quienesSomos">
                <h4>Nuestro Equipo</h4>
                <p>Detrás de cada delicia de Dulces Sueños hay un equipo apasionado de chefs pasteleros y expertos en servicio al cliente comprometidos con ofrecer la mejor experiencia posible a nuestros clientes. Desde la creación de exquisitos pasteles hasta la atención personalizada en nuestra tienda, nuestro equipo está aquí para hacer que cada visita sea memorable.</p>
            </div>

            <div class="quienesSomos">
                <h4>Compromiso con la Comunidad</h4>
                <p>En Dulces Sueños, nos enorgullece ser parte de nuestra comunidad y estamos comprometidos con devolver el apoyo que hemos recibido. Colaboramos con organizaciones locales sin fines de lucro y participamos en eventos comunitarios para ayudar a construir un futuro más dulce y próspero para todos.</p>
            </div>

            

        </section>

    </main>
    
    <%- include('partials/footer.ejs'); -%>
    
</body>
</html>