.carrito {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.288);
    position: fixed;
    z-index: 10;
}

.contenedorCarrito {
    height: 60%;
    width: 22%;
    background-color: #F6F4ED;
    right: 0;
    top: 0;
    position: fixed;
    border-bottom-left-radius: 8px;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: ease-in-out 0.7s;
    
}

.carritoSup {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carritoInf {
    height: 10%;
    display: flex;
    align-items: center;
}

.carritoInf > h4 {
    right: 80px;
    position: absolute;
}

.abrir {
    
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.acciones > button {
    height: auto;
    width: 120px;
}


/* Cards */

.cardsCarrito {
    height: 80%;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    max-width: 1115px;
    justify-content: center;
    overflow-y: scroll;
}

.cardsCarrito .cardCarrito{
    width: 240px;
    height: fit-content;
    border-radius: 8px;
    background-color: #5dcec660;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.cardCarrito .img {
    width: 240px;
    height: 160px;
    border-radius: 8px;
    overflow: hidden;
}

.cardCarrito .img > img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.cardCarrito > h4 {
    padding: 8px;
    font-size: 20px;
    font-weight: 700;
}

.cardCarrito > p {
    font-size: 16px;
    font-weight: 500;
    padding: 2px;
}

.cardCarrito > span {
    font-size: 18px;
    font-weight: 500;
}