.carrito {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.288);
    position: fixed;
    z-index: 10;
    top: 0;
}

.contenedorCarrito {
    height: 60%;
    width: 25%;
    background-color: #F6F4ED;
    right: 0;
    top: 0;
    position: fixed;
    border-bottom-left-radius: 8px;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: ease-in-out 0.7s;
    
}

.carritoSup {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #FF9340;
}

.carritoInf {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #FF9340;
}

.carritoInf > button {
    height: 35px;
}

.abrir {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.acciones > button {
    height: auto;
    width: 120px;
}


/* Cards */

.cardsCarrito {
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1115px;
    overflow-y: scroll;
    align-items: center;
    padding: 20px 0;
}

.cardCarrito{
    width: 95%;
    height: 90px;
    border-radius: 8px;
    background-color: #5dcec660;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgC {
    width: 85px;
    border-radius: 8px;
    overflow: hidden;
}

.imgC > img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.izq {
    display: flex;
    height: 90px;
    gap: 10px;
    width: 50%;
}

.infoPro {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: inherit;
}

.infoPro > h5 {
    font-size: 16px;
    font-weight: 700;
    text-wrap: wrap;
}

.infoPro > p {
    font-size: 12px;
    font-weight: 500;
}

.med > i {
    font-size: 30px;
    color: #FF9340;
    background-color: white;
    width: 15px;
    cursor: pointer;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.der {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.inputPro > input{
    width: 30px;
    text-align: center;
    height: 22px;
}



input[type=number]
{
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}


.inputPro > span {
    font-size: 16px;
    font-weight: 500;
}

.inputPro {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
}

.mp {
    color: white;
    background-color: #FF9340;
    font-size: 22px;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
}

.mp1 {
    border-radius: 0 8px 8px 0;
}

@media only screen and (max-width: 1700px) {

    .contenedorCarrito {
        width: 30%;
    }

}

@media only screen and (max-width: 1500px) {

    .contenedorCarrito {
        width: 35%;
    }

}

@media only screen and (max-width: 1200px) {

    .contenedorCarrito {
        width: 45%;
    }

}

@media only screen and (max-width: 1000px) {

    .contenedorCarrito {
        width: 55%;
    }

}

@media only screen and (max-width: 800px) {

    .contenedorCarrito {
        width: 70%;
    }  

}

@media only screen and (max-width: 560px) {

    .contenedorCarrito {
        width: 100%;
        height: 70%;
    }  

}