.carrito {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.288);
    position: fixed;
    z-index: 10;
}

.contenedorCarrito {
    height: 60%;
    width: 25%;
    background-color: #F6F4ED;
    right: 0;
    top: 0;
    position: fixed;
    border-bottom-left-radius: 8px;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: ease-in-out 0.7s;
    
}

.carritoSup {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carritoInf {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carritoInf > button {
    height: 35px;
}

.abrir {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.acciones > button {
    height: auto;
    width: 120px;
}


/* Cards */

.cardsCarrito {
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1115px;
    overflow-y: scroll;
    align-items: center;
}

.cardsCarrito .cardCarrito{
    width: 95%;
    height: 90px;
    border-radius: 8px;
    background-color: #5dcec660;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {
    width: 85px;
    border-radius: 8px;
    overflow: hidden;
}

.img > img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.izq {
    display: flex;
    height: 90px;
    gap: 10px;
    width: 50%;
}

.infoPro {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: inherit;
}

.infoPro > h5 {
    font-size: 16px;
    font-weight: 700;
    text-wrap: wrap;
}

.infoPro > p {
    font-size: 12px;
    font-weight: 500;
}

.med > i {
    font-size: 30px;
    color: #FF9340;
    background-color: white;
    width: 15px;
    cursor: pointer;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.der {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.der > input{
    width: 40px;
    text-align: center;
}

.der > span {
    font-size: 16px;
    font-weight: 500;
}