header {
    padding-top: 24px;
    z-index: 5;
    
}

.nav {
    max-width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;  
    background-color: #009D91;
    border-radius: 8px;
}

.pages {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0 32px;
    position: relative;
    align-items: center;
}

.pagesCel {
    display: none;
}

.logo {
    width: 72px;
}

.linkNav {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.sessionCel {
    display: none;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right: 32px;
    position: relative;
}

.sessionCel img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid white;
    background-color: white;
}

.session {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-right: 24px;
}

.buttonNav {
    padding: 8px 0;
    width: 125px;
    text-align: center;
    border-radius: 8px;
    font-family: inherit;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: #009D91; 
    border: 3px solid #FF9340;
}

.buttonNav:hover{
    background-color: #FF9340;
}

.cart {
    display: flex;  
    gap: 40px;
}

.svg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cant {
position: absolute;
top: 12px;
right: -11px;
background-color: #ff9340f1;
border-radius: 50px;
padding: 0 6px;
}

.cns {
    top: -4px;
}

.cant > span {
    color: white;
    font-weight: 700;
}

.svg > svg {
    width: 32px;
    cursor: pointer;
}


.precio {
    position: absolute;
    bottom: 0px;
}

.pns {
    bottom: -14px;
}

.precio > p {
    color: white;
    font-weight: 700;
}

.precio > span {
    color: white;
    font-weight: 700;
}

.sesionIniciada {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right: 32px;
    position: relative;
}

.sesionIniciada img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 100%;
}

.drop-down {
    display: none;
    flex-direction: column;
    width: 130px;
    border-radius: 8px;
    background-color: #009D91;
    position: absolute;
    top: 76px;
    right: -32px;
    padding: 8px;
    gap: 12px;
}

.show-drop-down {
    display: flex;
}

@media only screen and (max-width: 1500px) {

    header {
        padding-top: 24px;
        
    }

    .nav {
        max-width: 80%;
    }


}

@media only screen and (max-width: 1160px) {


    .sessionCel {
        display: block;
    }

    .session {
        display: none;
    }

    .cart {
        gap: 40px;
    }

    .precio {
        bottom: 0px;
    }

    .cant {
        top: 12px;
        }
}

@media only screen and (max-width: 850px) {

    .pages {
        display: none;
    }

    .pagesCel {
        display: flex;
        padding: 0 6px;
        align-items: center;
        position: relative;
    }

    #hamburger {
        font-size: 48px;
        color: white;
    }

    #hamburger:hover {
        cursor: pointer;
    }

    .drop-down1 {
        display: none;
        flex-direction: column;
        width: 156px;
        border-radius: 8px;
        background-color: #009D91;
        position: absolute; 
        padding: 8px;
        gap: 12px;
        top: 79px;
        right: -24px;
       
    }
    
    .show-drop-down1 {
        display: flex;
    }

    .nav {
        max-width: 90%;
    }

    .cart {
        gap: 40px;
    }

    .sesionIniciada {
        margin-right: 16px;
    }

    .sessionCel {
        margin-right: 16px;
    }

}

