body {
    /* display: grid;
    grid-template-rows: auto 1fr auto; */
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    display: flex;
    justify-content: center;
}

.contenedorForm {
    min-width: 550px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: #5dcec660;
    margin: 36px 0;
    padding: 36px;
    border-radius: 8px;
}

.img {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contenedorForm .img h4 {
    font-size: 18px;
    font-weight: 700;
}

.contenedorForm .img img {
    width: 260px;
    height: 160px;
    object-fit: cover;
}

.form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    font-size: 14px;
    position: relative;
}

.input input {
    padding: 16px;
    border: 1px solid white;
    border-radius: 8px;
    width: 260px;
}

.input .error {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 50% 100%, 50% 75%, 0% 75%);
    height: 50px;
    position: absolute;
    background-color: #DF6D6A;
    left: 70px;
    top: -25px;
    display: flex;
    padding: 12px;
    border-radius: 8px;
    justify-content: center;
}

.error p {
    color: white;
}

.botones {
    display: flex;
    gap: 16px;
}

.botones button {
    width: 124px;
}

.password {
    display: flex;
    justify-content: end;
    align-items: center;
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
}

.password input {
    border: 0;
    width: 226px;
}

.password img {
    cursor: pointer;
    margin-right: 8px;
}

@media only screen and (max-width: 630px) {

    .contenedorForm {
        min-width: 0;
        width: 90%;
    }

}