.main {
    margin: 0 24px;
    
}

.contenedor1 {
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* .contenedor1 h2 {
    font-size: 24px;
    text-align: center;
} */

.img {
    display: flex;
    justify-content: center;
}

.quienesSomos {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #5dcec660;
    padding: 12px;
    border-radius: 8px;
}

.quienesSomos h4 {
    font-size: 20px;
    font-weight: 700;
}

.quienesSomos p {
    font-size: 16px;
}