<section class="carrito" id="carrito" style="display: none;">
    <div class="contenedorCarrito" id="contenedorCarrito">

        <div class="carritoSup">
            <h4>Productos</h4>
            <h4>Subtotal</h4>
        </div>

        <div class="cardsCarrito" id="cardsCarrito">

        </div>

        <div class="carritoInf">
            <h4>Total: $<span id="totalCarrito"></span></h4>
        </div>
    </div>
</section>