<section class="carrito" id="carrito" style="display: none;">
    <div class="contenedorCarrito" id="contenedorCarrito">

        <div class="carritoSup">
            <h4>Productos</h4>
            <h4>Subtotal</h4>
        </div>
    

        <div class="cardsCarrito" id="cardsCarrito">

        </div>
    
        <div class="carritoInf">
            <% if(login) { %>
                <button class="btt" id="submitCarrito" onclick="submit()">Finalizar compra</button>
            <% } else { %>
                <button class="btt" id="submitCarrito" onclick="submitSS()">Finalizar compra</button>
            <% } %>    
            <h4>Total: $<span id="totalCarrito">0,00</span></h4>
        </div>
    </div>
</section>