<header>
        
    <nav class="nav">

        <div class="pages">
            <a href="/"><img src="" alt="Logo"></a>
            <a class="linkNav" href="#">Productos</a>
            <a class="linkNav" href="/quienes-somos">Quiénes somos</a>
            <a class="linkNav" href="/contacto">Contacto</a>
        </div>

        <% if(login){%>

            <div class="sesionIniciada">

                <img src="<%= usuarioSesion.img_url %>" alt="" id="imageUser">
                <div class="drop-down" id="drop-down" >
                    <a href="/mi-perfil">Mi perfil</a>
                    <% if(usuarioSesion.rol === 'admin') {%>
                    <a href="/admin">Administración</a>
                    <% } %>
                    <a href="/logout">Cerrar sesión</a>
                </div>

            </div>

        <% } else { %>

            <div class="session">
                <a href="/login"><button class="buttonNav">Iniciar sesión</button></a>
                <a href="/register"><button class="buttonNav">Registrate</button></a>
            </div>

        <% } %>
        
        

        

    </nav>
    
</header>