<header>
        
    <nav class="nav">

        <div class="pages">
            <a href="/"><img src="" alt="Logo"></a>
            <a class="linkNav" href="#">Productos</a>
            <a class="linkNav" href="#">Quienes somos</a>
            <a class="linkNav" href="#">Contacto</a>
        </div>

        <div class="session">
            <a href="/login"><button class="buttonNav">Iniciar sesión</button></a>
            <a href="#"><button class="buttonNav">Registrate</button></a>
        </div>

    </nav>
    
</header>